{% extends 'base.html'%}
{% load static %}

{% block title %} {{ post.title_tag }} {% endblock%}

{% block content %}

<h1>{{ post.title }}</h1>
{% if post.author.profile.profile_pic %}
    <img src="{{ post.author.profile.profile_pic.url }}">

{% else %}
    <img src="{% static '/blog/images/default-profile-pic.png' %}">
{% endif %}
    <small>By: {{ post.author.first_name }} {{ post.author.last_name }}, {{ post.author.profile.degree }} </small><br>
<br>
<hr>
<br>
{{ post.body|safe }}

<br><br>

<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    &nbsp;
    <small>
        <a href="{% url 'update-post' post.pk %}"> (Edit)</a>
        <a href="{% url 'delete-post' post.pk %}"> (Delete)</a>
    </small>
    {% endif %}    
{% endif %}


{%  endblock %}